/*
    add by patirck  2014/9/9
*/
@charset "utf-8";
* {
  margin:0;
  padding:0;
}
article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block
}
body {
  -webkit-text-size-adjust:none;
  background: #f4eee9;
  min-width:320px;
  margin:0;
  padding:0;
  font-family:"microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
  font-size:1em;
}
ul, li {
  list-style:none;
}
a {
  text-decoration:none;
  color:#67738A;
}
img {
  vertical-align:middle;
}
.clear {
  clear:both;
}
.clear:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {
  *zoom:1;
}
.w {
  margin: auto;
  padding: 0 6px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.red {
  color: #db2929;
}
.pages{margin:0 0 25px 0;text-align: center;}
.pages .pre, .pages .next {
  display: inline-block;
  width: 30%;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  margin: 20px 0 0 0;
  text-align: center;
  color: #3c3c3c;
  font-size: 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2d7c5));
  background: -moz-linear-gradient(top, #fff, #e2d7c5);
  border: 1px solid #baac9d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.mt {
  background:#ede6db;
  color:#db2929;
  border-bottom:1px solid #dacea8;
  height:42px;
  line-height:42px;
}
.mt h2 {
  font-weight:normal;
  font-size:1em;
  margin:0 0 0 6px;
}
.mc {
  padding: 6px;
}
.radius{
  margin: 10px 4px;
  padding: 10px;
  background: #fffdf7;
  border: 1px solid #cdc2b0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.btn-type {
  padding: 10px 30px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ed3131), color-stop(.05, #d22121), to(#af0b0b));
  background: -moz-linear-gradient(top, #ed3131, #af0b0b);
  font-size: 1em;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.sub_btn, .pay_online_bot input{
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed3131), to(#990a0a));
  background: -moz-linear-gradient(top, #ed3131, #990a0a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed3131', endColorstr='#990a0a');
  background-color: red;
  border: none;
  width: 90%;
  margin: 10px auto 0;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 1px 0 0 #000;
  border-bottom: 1px solid #bcb0a3;
}
.t-lists .box {
  padding: 15px 6px;
  color: #888;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd8d5;
}
header {
  display: block;
  position: relative;
  height: 88px;
  margin: auto;
  padding: 0 6px;
  color: #FFF;
  background-color: #eee;
  text-align: right;
  overflow: hidden;
  border-bottom: 1px solid #7c170a;
}
header a {
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  line-height: 28px;
  margin:8px 2px;
  padding: 0 5px;
  color: #fff;
  font-size: .875em;
  border: 1px solid #7c170a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  webkit-box-shadow: 0 1px 2px #da3535 inset;
  box-shadow: 0 1px 2px #da3535 inset;
}
.to-top {
  border-top: 1px solid #fcfaf9;
  border-bottom: 1px solid #dad4cf;
  padding: 5px 0;
  background: #f2ece6;
}
.to-top a {
  display: block;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #db2929;
  font-size: .875em;
}
footer {
  border-top: 1px solid #fcfaf9;
  text-align: center;
  height: 100%;
  width: 100% ;
  background: url("../images/login/cloud_login.png") 0 0 repeat;
  padding: 15px 0;
  font-size: .8125em;
  color: #999
}
footer a {
  color: #67738a;margin:0 10px;
}
footer .copyright{ margin-top:10px;font-size: .8125em;}


