/*
    add by patirck  2014/9/9
*/
@charset "utf-8";
body {
  font-family: "Microsoft YaHei",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

input{
  border: none;
}

input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"]{
  padding: 0px;
}

*{
  -webkit-tap-highlight-color: transparent;
}
