@charset "utf-8";


/*treeMenu*/
.item-list{
  margin: 0;
  padding: 0;
}

.item-list .trigger{
  overflow: hidden;
  display: block;
  padding: 13px 15px 13px 0;
  font-size: 15px;
  color: #fff;
  margin-left: 15px;
  border-bottom: 1px solid #282828;
}

.item-list ul li {
  background-color: #5e5e5e;
  display: block;
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1px 0 3px 43px;
}

.item-list ul li a{
  color: #fff;
}
