<div id="header" class="header">
  <header>
    <h2>建议反馈</h2>
  </header>
</div>

<section class="holder">
  <ul class="form-item-list form-group-nospacing padding-li">
    <!--<li class="form-item-li ">-->
      <!--<h2>感谢您的建议</h2>-->
    <!--</li>-->
    <li class="form-item-li form-item-li-noborder">
      <textarea placeholder="感谢您的建议" id="txtAdvice" style="height: auto;" rows="13"></textarea>
      <!--<div class='txtarea' contenteditable=true>-->
      <!--</div>-->
    </li>
  </ul>
  <div class="holder">
    <div class="btn-v-group"><button>确认</button></div>
  </div>
</section>
