<div id="headSettings-box">

</div>
<script type="text/template" id="headSettings">
    <div id="header" class="header">
        <header>
            <h2><%=lanStore.HeadPortrait %></h2>
            <i id="save_photo" class="i_bef i_right" style="width: 60px;"><h2>保存</h2></i>
        </header>
    </div>
        <section class="holder">
            <div style="text-align: center;margin: 20px 0;">
                <img id="headPortrait-edit"  width="120px" height="120px" style="vertical-align: middle;margin:5px;-moz-border-radius: 60px;-webkit-border-radius:60px;">
            </div>
            <div class="form-control">
                <button id="Photograph" style="width: 100%"><%=lanStore.Photograph %></button>
            </div>
            <div class="form-control">
                <button id="AccesstoPhone" style="width: 100%"><%=lanStore.AccesstoPhone %></button>
            </div>
        </section>
</script>
