<div id="header" class="header">
  <header>
    <h2>忘记密码</h2>
  </header>
</div>

<section class="holder">
    <div>
      <h1>忘记密码？</h1>
      <h2>请填写密码保护问题的答案</h2>
    </div>

    <div class="gap-v">
      <ul class="form-item-list">
          <li class="form-item-li form-item-li-noborder">
            <div class="form-control"><input type="text" id="question" placeholder="密保问题"></div>
          </li>
          <li class="form-item-li form-item-li-noborder">
            <div class="form-control"><input type="text" id="answer" placeholder="密码保护问题答案"></div>
          </li>
        </ul>
    </div>

    <div class="gap-v">
      <h2>填写步骤：</h2>
      <h3>1.填写您的信息</h3>
      <h3>2.检查输入是否正确</h3>
      <h3>3.确认提交后，您的密码将发送至您的邮箱中</h3>
    </div>
    <ul id="operate" class="btn-h-group">
      <li class="flex-btn"><button id="confirm">确认</button></li>
      <li class="flex-btn"><button id="contact">联系我们</button></li>
    </ul>
</section>
