<div class="login-box">
    <section class="login" id="login">
        <script type="text/template" id="login-language">
            <div class="language-loging">
                <% if(lanStore.languageFlag=='zh_cn'){ %>
                <div class="language-settings-loging language-settings-selected " data-id="zh_cn">中文</div>
                <div class="language-settings-loging " data-id="en_us">EN</div>
                <% }else {%>
                <div class="language-settings-loging " data-id="zh_cn">中文</div>
                <div class="language-settings-loging language-settings-selected" data-id="en_us">EN</div>
                <% }%>
            </div>


      <div class="view-content" style="overflow: inherit">
        <form  method="post" id="frm_login" style="display: inline-block;width: 100%;position: relative;height: 410px;">
            <div class="transGlassBlur"></div>
            <div class="transGlass">
          <ul class="form-item-list" style="margin: 0 20px;">
              <li class="form-item-li form-item-li-noborder form-item-li-nopadding">
                  <div class="logo" style="margin-top:10px; ">
                      <!-- <span><%=lanStore.loginWelcome%></span> -->
                      <img src="images/login/logo_red.png">
                      <!-- <span><%=lanStore.appName%></span> -->
                  </div>
              </li>
            <li class="form-item-li form-item-li-noborder form-item-li-nopadding">
              <div class="form-control" id="icompany">
                <input class="enterInfo" type="text" name="company" id="company" placeholder="<%=lanStore.company%>" value="<%= window.localStorage.getItem('company')!=null?window.localStorage.getItem('company'):''%>" style="height: 50px;">
              </div>
                <span class="clear-text"></span>
            </li>
            <li class="form-item-li form-item-li-noborder form-item-li-nopadding">
              <div class="form-control form-required" id="iusername">
                <input class="enterInfo" type="text" name="username" id="username" placeholder="<%=lanStore.username%>"  value="<%= window.localStorage.getItem('userName')!=null?window.localStorage.getItem('userName'):''%>" style="height: 50px;">
              </div>
                <span class="clear-text"></span>
            </li>
            <li class="form-item-li form-item-li-noborder form-item-li-nopadding" >
              <div class="form-control form-required" id="ipwd">
                <input  class="enterInfo" id="pwd" type="password" name="pwd" placeholder="<%=lanStore.password%>"  value="<%=window.localStorage.getItem('passWord')!=null?window.localStorage.getItem('passWord'):''%>" style="height: 50px;">
              </div>
                <span class="clear-text"></span>
            </li>
              <li class="form-item-li form-item-li-noborder form-item-li-nopadding" style="float: left;width: 100%;">
                  <div id="remember" class="mui-switch mui-active" checked="true">
                      <div class="mui-switch-handle mui-switch-active"></div>
                  </div>
                  <div class="mui-switch-text"><%=lanStore.rememberMe%></div>
              </li>
          </ul>

                <button id="btn_enter" class="login-btn" style="margin-top:30px; "><e style="display: inline-block; vertical-align: top;"><%=lanStore.login%></e></button>

            </div>
            <!--
            <div class="form-control" style="text-align: center;margin-top: 10px;">
                      <span class="pull-left">
                        <label class="check"><input id="remember" type="checkbox" checked="true"><i></i><span style="color: #f5f5f5"><%=lanStore.rememberMe%></span></label>
                      </span>

            </div>
            -->
        </form>
            <a class="forgetpwd"><%=lanStore.forgePassword%></a>
      </div>
        </script>
    </section>
</div>
