<div class="ct-main_menu" style="overflow: hidden;">
    <div class="ct-bg">
      <div class="ct-main-content"></div>
    </div>
</div>
<div class="ct-main_a">
  <div id="header" class="header">
    <header>
      <h1>我的信息中心</h1>
    </header>
  </div>
  <section class="holder">
    <div class="form-group">
      <table class="table-no-border">
        <tr>
          <td rowspan="2" style="text-align: center;"><img src="../../../images/home/F10.png" width="60px" height="60px"></td>
          <td style="vertical-align:bottom;"><h2>Grace</h2></td>
        </tr>
        <tr>
          <td style="vertical-align: top;">Marketing Director</td>
        </tr>
      </table>
    </div>
    <hr>
    <div>
      <form class="form-search">
        <input type="text">
        <button class="btn-icon btn-link"><span class="icon"></span></button>
      </form>
    </div>
    <hr>
    <div class="wrapper1"></div>
    <div id="content1" class="tabcontent gap-v-sm">
      <ul class="form-item-list">
        <li class="form-item-li form-item-li-noborder">
          <i class="apply-icon apply-icon-break"></i><span class="form-label">我的休假申请</span>
          <div class="form-group">
            <span class="form-label">假期类型：年假&nbsp;|&nbsp;10天</span>
            <span class="form-label">申请时间：3天前</span>
            <span class="apply_status approve">已批准</span>
          </div>
        </li>
        <li class="form-item-li form-item-li-noborder">
          <div class="gap-line">|</div>
        </li>
        <li class="form-item-li form-item-li-noborder">
          <i class="apply-icon apply-icon-news"></i><span class="form-label">公司新闻</span>
          <div class="form-group J_imageSlider">
            <img src="../../../images/news/3.png" alt=""/>
            <img src="../../../images/news/4.png" alt=""/>
          </div>
        </li>
        <li class="form-item-li form-item-li-noborder">
          <div class="gap-line">|</div>
        </li>
        <li class="form-item-li form-item-li-noborder">
          <i class="apply-icon apply-icon-addition"></i><span class="form-label">我的加班申请</span>
          <div class="form-group">
            <span class="form-label">加班时长：3小时</span>
            <span class="form-label">加班时间：今天</span>
            <span class="apply_status">未回复</span>
          </div>
        </li>
      </ul>
    </div>

    <div id="content2" class="tabcontent gap-v-sm" style="display:none;">
      <ul class="btn-h-group">
        <li class="flex-btn"><button type="button" class="btn-light-gray btn-lg" id="viewSalary"><i class="menu-icon menu-icon-salary-view"></i>
          <span>查看工资</span></button></li>
        <li class="flex-btn"><button type="button" class="btn-light-gray btn-lg"><i class="apply-icon apply-icon-break"></i>
          <span>休假申请</span></button></li>
      </ul>
      <ul class="btn-h-group">
        <li class="flex-btn"><button type="button" class="btn-light-gray btn-lg"><i class="apply-icon apply-icon-addition"></i>
          <span>加班申请</span></button></li>
        <li class="flex-btn"><button type="button" class="btn-light-gray btn-lg"><i class="menu-icon menu-icon-break-view"></i>
          <span>查看假期</span></button></li>
      </ul>
      <ul class="btn-h-group">
        <li class="flex-btn"><button type="button" class="btn-light-gray btn-lg"><i class="menu-icon menu-icon-addition-view"></i>
          <span>查看加班</span></button></li>
        <li class="flex-btn"><button type="button" class="btn-light-gray btn-lg"><i class="menu-icon menu-icon-work-calender"></i>
          <span>工作日历</span></button></li>
      </ul>
    </div>
  </section>
</div>
