<div id="header" class="header">
  <header>
    <h2>联系我们</h2>
  </header>
</div>

<section class="holder">
    <div>
      <ul class="form-item-list form-group-nospacing padding-left">
        <li class="form-item-li title">
          系统管理员
        </li>
        <li class="form-item-li form-item-li-noborder contactLi" id="i_one">
          <span class="form-label">John Wang</span>
        </li>
        <li class="form-item-li form-item-li-noborder contactLi" id="i_two">
          <span class="form-label">+86 21 33929987</span>
        </li>
        <li class="form-item-li form-item-li-noborder contactLi" id="i_three">
          <span class="form-label">John.Wang@AAA.com</span>
        </li>
      </ul>
    </div>

    <div class="gap-v">
      <ul class="form-item-list form-group-nospacing padding-left">
        <li class="form-item-li title">
          CDP服务中心
        </li>
        <li class="form-item-li form-item-li-noborder contactLi" id="i_four">
          <span class="form-label">400 123 1234</span>
        </li>
        <li class="form-item-li form-item-li-noborder contactLi" id="i_five">
          <span class="form-label">CDP-400@CDPgroupltd.com</span>
        </li>
      </ul>
    </div>
</section>
