<div id="header" class="header">
    <header>
        <h2 id="policyDetail-title"></h2>
    </header>
</div>
<section id="policyDetail_wrap" class="wrapperCss">
    <div id="scroller" class="scrollerCss holder">
        <ul class="form-item-Detail form-group-nospacing newsDetail">
            <li class="form-item-li form-item-li-noborder holder">
                <span id="policyDetail-cont"></span>
            </li>
        </ul>
        <a id="attachments"></a>
        <div style="height:4.75em;width:100%"></div>
        <button type="button" class="btn-light-gray" id="gotoTop" style="width: 100%">
            <span class="label"></span>
        </button>
    </div>
</section>
